@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #09122C;
    --cor-hover: #1C1E30;
    --secondary-color: #B17F59;
    --cor-texto: #F5EFE7;
    --cor-destaque: #22D4FD;
}

body {
    background-color: var(--background-color);
    color: var(--cor-texto);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--background-color);
    padding: 15px 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Krona One', sans-serif;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: var(--cor-hover);
    color: var(--cor-texto);
    border-radius: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 5% 10%;
}

.apresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__titulo {
    font-size: 2.5rem;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-texto);
}

.tituloDestaque {
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: 600;
}

.tituloDestaque:hover {
    color: var(--cor-texto);
}

.textoApresentacao {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
}

.redesSociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.redesSociais__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}

.redesSociais__link {
    border: 2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    width: 250px;
    padding: 12px 0;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.redesSociais__link:hover {
    background-color: var(--cor-hover);
    transform: scale(1.05);
}

.imagem {
    width: 45%;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.rodape {
    text-align: center;
    padding: 15px;
    background-color: var(--background-color);
    font-family: 'Krona One', sans-serif;
    color: var(--cor-destaque);
    margin-top: auto;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column-reverse;
        text-align: center;
    }
    .apresentacao {
        width: 100%;
        align-items: center;
    }
    .imagem {
        width: 50%;
    }
    .listasobremim li {
        font-size: 1rem;
        padding: 8px;
    }
    .ferramentas {
        flex-direction: column; 
        gap: 10px;
    }
    .apresentacao, .experiencia, .formacao {
        text-align: center; /* Centraliza o texto nas seções */
    }

    .imagem-container {
        margin: 20px 0; /* Adiciona um pouco de espaçamento entre as seções e as imagens */
    }
}

.titulosobremim {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 15px;
}

.experiencia p, .formacao p {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--cor-texto);
    margin-top: 5px;
    text-align: justify;
}

.experiencia, .formacao, .habilidades, .ferramentas {
    background-color: var(--cor-hover);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.listasobremim {
    list-style: none;
    padding-left: 0;
}

.listasobremim li {
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    color: var(--Cor-das-letras);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    width: auto;
}

.listasobremim li:hover {
    transform: scale(1.02);
    background-color: var(--background-color)
    
}

.ferramentas {
    display: flex;
    gap: 20px;  
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}

.ferramentas ul {
    display: flex; 
    gap: 50px;
    flex-wrap: wrap; 
    justify-content: center;
    list-style: none; 
    padding-left: 0;
    width: 100%;
}

.imagem-container {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    margin: 20px 0;          
}

.imagem {
    width: 100%;             
    max-width: 500px;      
    border-radius: 10%;      
    display: block;          
    margin: 0 auto;          
}

.imagem1 {
    width: 100%;
    max-width: 700px;            
       
    border-radius: 10%;      
    display: block;          
    margin: 0 auto;          
}