@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Krona+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
} 

header {
    background-color: #121212;
    padding: 15px 15px 15px 5%;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #22D4FD;
    text-decoration: none;
    font-size: 15px;
    font-family: "Krona One", sans-serif;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #474949;
    color: white;
    border-radius: 8px;
}

body{
    /* height: 100vh; */
    background-color: #040405;
    color: #FFFFFF;
    font-size: large;
    font-family: serif;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 5%; 
}

.apresentacao{
    width: 675px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__titulo{
    font-size: 30px;
    font-family: "Krona One", sans-serif;
}

.textoApresentacao{
    font-size: 25px;
    font-family: "Montserrat", sans-serif; 
}

h1{
    color: white;
    padding: 10px ;
    margin: 0px ;
    text-align: center;
}

p{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 10%;
}

.tituloDestaque{
    color: #B6C649;
    font-family: "Imperial Script", cursive;
    font-weight: 600;
    font-style: normal;
}

strong{
    color: #B6C649;
}

a{
    font-weight: bold;
    color: #bd1414;
    color: #22D4FD;
    padding-top: 5px;  
}
.redesSociais{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.redesSociais__titulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}
.redesSociais__link:hover {
    background-color: #272727;
    color: #22D4FD;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    
}

.redesSociais__link {
    border: 2px solid #22D4FD;
    width: 280px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.imagem {
    width: 300px;
    height: 400px;
    object-fit: cover; 
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.rodape{
    color: black;
    background-color: #22D4FD;
    padding: 15px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 525;
    border-radius: 0%;
    margin: 0%;
}