@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Krona+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
} 

:root {
    --background-color: #09122C;
    --cor-hover: #282A3A;
    --secondary-color: #B17F59;
    --Cor-das-letras: #F5EFE7;
    
}

header {
    background-color: var(--background-color);
    padding: 15px 15px 15px 5%;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: "Krona One", sans-serif;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: var(--cor-hover);
    color: var(--Cor-das-letras);
    border-radius: 8px;
}

body{
    /* height: 100vh; */
    background-color: var(--background-color);
    color: var(--Cor-das-letras);
    font-size: auto;
    font-family: serif;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 5% 10% ; 
}

.apresentacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__titulo{
    font-size: 2rem;
    font-family: "Krona One", sans-serif;
}

.textoApresentacao{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif; 
}

h1{
    color: var(--Cor-das-letras);
    padding: 10px ;
    margin: 0px ;
    text-align: center;
}

p{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 10%;
}

.tituloDestaque{
    color: var(--secondary-color);
    font-family: "Krona One", sans-serif;
    font-weight: 1rem;
    font-style: normal;
    text-decoration: none;
}
.tituloDestaque:hover{
    color: var(--Cor-das-letras);
}

a{
    font-weight: bold;
    color: var(--secondary-color);
    padding-top: 5px;  
}

.redesSociais{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.redesSociais__titulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}
.redesSociais__link:hover {
    background-color: var(--cor-hover);
    color: #22D4FD;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    
}

.redesSociais__link {
    border: 2px solid #22D4FD;
    color: #22D4FD;
    width: 280px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.imagem {
    width: 45%;
    height: 50%;
    object-fit: cover; 
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.rodape{
    color: #22D4FD;
    background-color: var(--background-color);
    padding: 15px;
    text-align: right;
    font-family: "Krona One", sans-serif;
    font-weight: 200;
    border-radius: 0%;
    margin-bottom: 0%;
    margin: 0%;
}

@media (max-width: 1200px) {
    .header{
        padding: 0%;
    
        flex-direction: column;
        width: 100%;
    
    }
    .nav ul{    
        text-align: left;
        gap: 2px;
        padding: 0%;
        flex-direction: column;
        }
    .nav ul li a{
        padding: 2%;
        font-size: 1rem;
    }
    .container{
        flex-direction: column-reverse;
        padding: 3%;
    }
    .apresentacao{
        width: 100%;
    }
    .rodape{
        text-align: right;
    }
    .imagem{    
        width: 75%;
        height: 60%;
    }
}
  